* {
  margin: 0;
  padding: 0;
  border: 0;
}

#newLink {
  border: 0.2rem solid black;
  border-radius: 0.2rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
